#root {
  margin: auto auto;
  padding: 5rem;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3,500px);
  gap : 100px;

}


.main-container{
  display: flex;
}

.filter-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  min-width: 100px;

  gap:20px;
}


