#root {
  margin: auto auto;
  padding: 5rem;
  background-color: whitesmoke;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  gap: 100px;

}


.main-container {
  display: flex;
}

.filter-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin-right: 40px;
  min-width: 120px;
  background-color: whitesmoke;
  border: 1px rgb(82, 88, 99) solid;
  gap: 20px;
  border-radius: 20px;
  color: black;

  box-shadow: 10px 5px 5px black;
}


select {
  padding: 20px;
  font-size: 20px;

  border-radius: 10px;

  background-color: #1a1a1a;
}


@media (max-width:1000px) {
  .grid {
    display: flex;
    flex-direction: column;
    gap: 100px;

  }

  .main-container {
    flex-direction: column;
  }
}