#root {
  margin: auto auto;
  padding: 5rem;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3,500px);
  gap : 100px;

}


.main-container{
  display: flex;
}

.filter-container{
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 20px;
  min-width: 120px;
  background-color: rgb(146, 148, 173);
  border: 1px rgb(82, 88, 99) solid ;
  gap:20px;
  border-radius: 20px;
}


select {
  padding: 20px;
  font-size: 20px;
}