

.buttonOptions {
    display: flex;
    flex-direction: row;
    gap:10px;  
    justify-content: center;
}

.card {
    border-radius: 10px;
    background-color: rgb(67, 76, 87);
    min-width: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    padding: 20px;
    text-align: center;

    color: black;


    border: 2px solid rgb(100, 100, 212);
}


button:hover{
    transform: scale(1.2);
    color: aqua;
    transform: rotate(5deg);
}



button:active{
    border-bottom: 5px solid white;
    color: aquamarine;
}
.card-top {
    text-align: left ;
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: fit-content;
    animation: move-right .3s linear;

    color: white;
    font-size: 20px;
}



@keyframes move-right {
  from {
    transform: translateX(-100px)
  }
  to {
    transform: translateX(unset)
  }
}

@keyframes pop-up {
  from {
    opacity: 0 ;
  }
  to {
     opacity: 1 ;
  }
}


.details{
    background-color: rgb(146, 148, 173);
    border: 1px rgb(82, 88, 99) solid ;

    animation: pop-up  .3s linear;

    font-size: 12px;
}